coverage
flake8
stestr
git+https://github.com/openstack-charmers/zaza.git@stable/antelope#egg=zaza
git+https://github.com/openstack-charmers/zaza-openstack-tests.git@stable/antelope#egg=zaza.openstack
requests-mock
